.message {

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 24px;
    /*justify-content: flex-end;*/
}

.imageAndText img {
    margin-right: 70px;
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    color: #FFFFFF;
    margin-right: 13px;
    padding: 0 13px;
    background-color: #0066CC;
    border-radius: 10px 10px 0 10px;
}

.text:after {
    content: '';
    position: absolute;
    right: -8px; top: 28px;
    border: 10px solid transparent;
    border-bottom: 10px solid #0066CC;
}

.name {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    font-weight: 600;
    margin-right: 82px;
    margin-bottom: 30px;
}