.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 90px 0 126px 70px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    padding-right: 106px ;
    /*padding-bottom: 160px;*/
    gap: 36px;
}
