.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: #cc0000;
}

.input {
}

.input:focus {
}

.errorInput {
    border: #cc0000 1px solid;
}

.button {
    margin-left: 10px;
    padding: 0 10px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
